@use "@/style/mixins" as *;

.burder-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100vh;
    background: var(--white-bg-color);
    transition: width 0.35s ease;
    overflow: hidden;
    z-index: 1000;

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.35s ease,
            visibility 0.35s ease;
        z-index: -1;
    }

    &.open {
        @include spacing("width", 400);

        @include md {
            width: 100%;
        }

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.burger-menu__close {
    position: absolute;
    @include spacing("top", 20);
    @include spacing("right", 20);
    @include spacing("width", 44);
    @include spacing("height", 44);
    @include spacing("font-size", 30, 30, 30, 25, 25);
    background: none;
    border: none;
    color: var(--black-text);
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.burger-menu__menu {
    position: relative;
    height: 100%;
    overflow-y: auto;
    @include spacing("padding-top", 75, 75, 75, 50, 50);
    @include spacing("padding-inline", 25);
    background: var(--white-bg-color);
    z-index: 1;
}
